div(class=dj[key].wrapclass+' row')
  div(class=mobileWrapper)
    nav(class=dj[key].navClass + ' ' + dj[key].wrapClass,slide-menu-after-scroll="menu1",set-fon-after-start-scroll=dj[key].fon,menu-bottom=dj[key].position,id='menu1-section',ng-class="{'navbar-toggle-slide-mini':$state.current.name!='home'}")
      .navbar-collapse
        ul(class="navbar-nav")
          div
        ul(class="navbar-nav abs-center-x")
          div
        ul(class="navbar-nav ml-auto")
          div
