div(class=dj[key].wrapclass)
  div(class=mobileWrapper)
    nav(class=dj[key].navClass + ' ' + dj[key].wrapClass + ' row',slide-menu-after-scroll="menu1",set-fon-after-start-scroll=dj[key].fon,menu-bottom=dj[key].position,id='menu1-section',ng-class="{'navbar-toggle-slide-mini':$state.current.name!='home'}")
      div(class="col col-auto")
        ul(class="nav navbar-nav")
          div
      div(class="col col-auto")
        ul(class="nav navbar-nav")
          div
      div(class="col col-auto")
        ul(class="nav navbar-nav")
          div