div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12 video-link")
            div(class="container")
                div(class="video-box")
                    h2=dj[key].name
                    | !{dj[key].videoLink}
                div(class="desc-box")
                    | !{dj[key].desc}
                div(class="clearfix")
