extends layout

block content
  //div(id='dimScreenFull',ng-hide="global.get('user').val")
  div(ng-cloak)
    toaster-container
    div(class="navbar navbar-fixed-top")
        ul(class="left-menu")
          li
            a(ui-sref="frame", title="главная")
              i(class="material-icons") homes
          li(ng-show="$state.current.name=='frame.orders' && $stateParams.order" ng-click="orderEditCtrl.updateOrder()")
            a()
                i(class="material-icons") save
          li(class="seller",ng-if="!global.get.mobile")
            a(class="pull-left")
              span(ng-bind="global.get('user').val.name")
            span(class="location pull-left") учет и контроль
            span(class="clearfix")
        ul(class="right-menu")
              li(class="dropdown" ng-if="global.get('seller').val")
                a(class='dropdown-toggle',data-target="#",data-toggle="dropdown",style="color:#fff;")
                  i(class="material-icons menu-icon") apps

                ul(class="dropdown-menu")
                  li
                    a(ng-click="changeLocation('/setting')")
                      i(class="material-icons link-warning") settings
                      | настройки магазина
                  li
                    a(ng-click="changeLocation('/content')")
                      i(class="material-icons link-warning") description
                      | управление контентом
                  li
                    a(ng-click="changeLocation('/promo')")
                      i(class="material-icons link-warning") dashboard
                      | управление промо
                  li
                    a(ng-click="changeLocation('/seo')")
                      i(class="material-icons link-warning") trending_up
                      | управление продвижение SEO
                  li
                    a(ng-click="changeLocation('/masteronline')",ng-hide="global.get('store').val.onlineis")
                      i(class="material-icons link-warning") query_builder
                      | он-лайн запись (кабинет)
                  li
                    a(href='/home',target="blank")
                      i(class="material-icons link-warning") homes
                      | перейти на сайт
              li(class="dropdown" )
                a(data-target="#",class="dropdown-toggle",data-toggle="dropdown")
                  i(class="material-icons") record_voice_over
                  span(class="badge badge-danger",ng-bind="getTotalUnreadMessage()")
                  b(class="caret")
                ul(class="dropdown-menu")
                  li
                    a(ui-sref="frame.dialogs") все
                  li(ng-repeat="value in global.get('dialogs').val")
                    //a(ng-click="$state.go('frame.dialogs',{dialog:value.dialog}, {destination: 'new-state'});")
                    a(ng-if="!value.order",ui-sref="frame.dialogs.dialog({id:value.dialog})")
                      span(ng-bind="value.participant")
                      span(class="badge badge-danger pull-right",ng-bind="value.count")
                    a(ng-if="value.order",ui-sref="frame.orders.order({id:value.order})")
                      span ордер N-
                      span(ng-bind="value.orderNum")
                      span(class="badge badge-danger pull-right",ng-bind="value.count")
              li(class="dropdown")
                //ng-if='notificationsCount'
                a(data-target="#",class="dropdown-toggle",data-toggle="dropdown")
                  i(class="material-icons") notifications_active
                  span(class="badge badge-danger",ng-bind="notificationsCount",ng-if='notificationsCount')
                  b(class="caret")
                ul(class="dropdown-menu")
                  li
                    a(ui-sref="frame.notification") все
                  li(ng-repeat="(key,notification) in global.get('notifications').val" ng-if="notification")
                    a(ui-sref="frame.notification({type:key})")
                      span(ng-bind="key")
                      span(class="badge badge-danger pull-right",ng-bind="notification")
              li(class="dropdown" ng-if="chatMessagesCount")
                a(data-target="#",class="dropdown-toggle",data-toggle="dropdown")
                  i(class="material-icons") record_voice_over
                  span(class="badge badge-danger",ng-bind="chatMessagesCount")
                  b(class="caret")
                ul(class="dropdown-menu")
                  li(ng-repeat="(key,mes) in global.get('chatMessages').val")
                    a(ng-if='mes.type=="order"',ui-sref="frame.orders({order:mes.order})",ui-sref-opts="{reload: true, notify: true}")
                      span(ng-bind="key")
                      span(class="badge badge-dangerpull-right",ng-bind="mes.count")
                  //a(ng-if='mes.type=="user"',ui-sref="frame.users({user:mes.user})")
                    span(ng-bind="key")
                    span(class="badge pull-right",ng-bind="mes.count")
              li(ng-if="!global.get('seller').val")
                a(class="home link-success",href='/home',target="blank")
                  | перейти
                  br
                  | на сайт
              li(class="pull-right",style="padding:0")
                a(class="btn btn-fab btn-fab-mini btn-lang",ng-repeat="lang in global.get('store').val.langArr",ng-click="changeLang(lang)")
                  span(ng-class="{'active':lang==global.get('store').val.lang}",ng-bind="lang")
        div()
          a
            span(class="for-saving save",ng-class="{'saving':global.get('saving').val}")
              | сохранено


    div( ui-view)
    audio(id="soundChat",style='display:none;',controls='controls')
      source(src='sounds/chat.mp3')
  - var socketHref=socketHost+'/socket.io/socket.io.js'
  script(type='text/javascript').
    var storeHost = !{JSON.stringify(storeHost)};
    var accountHost = !{JSON.stringify(accountHost)};
    var socketHost = !{JSON.stringify( socketHost )};
    var notificationHost = !{JSON.stringify( notificationHost )};
    var userHost = !{JSON.stringify( userHost )};
    var stuffHost = !{JSON.stringify( stuffHost )};
    var orderHost = !{JSON.stringify( orderHost )};
    var photoHost = !{JSON.stringify( photoHost )};
    var photoUpload = !{JSON.stringify( photoUpload )};
    var globalStoreId = !{JSON.stringify( store._id )};
    var storeTemp = !{JSON.stringify(store)};
    var mobileFromServer = !{JSON.stringify(mobile)};
    var local = !{JSON.stringify(local)};
  script(src=socketHref)
  - var favicon = photoHost+"/"+store.favicon
  script.
    (function () {
      var link = document.createElement( 'link' );
      link.type = 'image/x-icon';
      link.rel = 'shortcut icon';
      link.href = "#{favicon}";
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    }());




  //script(src="crawler.scripts164.min.js")
  //script(src='contentdev_scripts.min.js')
  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="bower_components/angular-1.6.4/angular.min.js")
  //script(src="bower_components/angular-1.6.4/angular-touch.min.js")
  //script(src="bower_components/angular-1.6.4/angular-animate.min.js")
  //script(src="bower_components/angular-1.6.4/angular-route.min.js")
  //script(src="bower_components/angular-1.6.4/angular-resource.min.js")
  //script(src="bower_components/angular-1.6.4/angular-sanitize.min.js")
  //script(src="bower_components/angular-1.6.4/angular-messages.min.js")
  //script(src="bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js")
  //script(src="bower_components/momentjs/min/moment-with-locales.min.js")
  //script(src="assets/ui-select-master/dist/select.min.js")
  //script(src="bower_components/satellizer/satellizer.min.js")


  //'node_modules/@uirouter/angularjs/release/angular-ui-router.min.js',
  //'node_modules/@uirouter/angularjs/release/stateEvents.min.js',

  if(false)
    script(src="bower_components/angular-1.6.4/i18n/angular-locale_ru.js")
    script(src="bower_components/angular-1.6.4/i18n/angular-locale_ru-ru.js")
    script(src="bower_components/angular-1.6.4/i18n/angular-locale_ru-ua.js")
    script(src='scripts/myPrototype.js')
    script(src='scripts/angular-node.js')
    script(src='modules/account/js/app.js')
    script(src='modules/account/js/controllers.js')
    script(src='modules/account/js/services.js')
    script(src='modules/account/js/directives.js')


      // auth
    script(src='components/sign-login/scripts/sign-login.component.js')
    script(src='components/directives/check-password-match.directive.js')

      //services
    script(src='components/services/factory.exeption.js')
    script(src='components/services/confirm.factory.js')
    script(src='components/services/interceptor.factory.js')
    script(src='components/storeSetting/scripts/store-seller.service.js')

    script(src='scripts/service.global.js')
    script(src='scripts/service.helper.js')
    script(src='scripts/service.email.js')


      // notification
    script(src='components/notification/scripts/service.notification.js')
    script(src='components/notification/scripts/controller.notification.js')

      // chat
    script(src='components/chat/scripts/service.chat.js')
    script(src='components/chat/scripts/controller.chat.js')
    script(src='components/chat/scripts/directive.chat.js')
    script(src='components/chat/scripts/chat.component.js')

      // dialogs
    script(src='components/dialogs/scripts/service.dialog.js')
    script(src='components/dialogs/scripts/controller.dialog.js')
    script(src='components/dialogs/scripts/directive.dialog.js')

      // user
    script(src='components/user/scripts/service.user.js')
    script(src='components/user/scripts/controller.user.js')
    script(src='components/user/scripts/directive.user.js')

    script(src='components/storeSetting/scripts/store-seller.service.js')
    script(src='components/storeSetting/scripts/component.storeSetting.js')

      // directives
    script(src='components/directives/directive.focus-element.js')
    script(src='components/directives/directive.select-drop-down.js')
    script(src='components/paginator/scripts/component.paginator.js')
    script(src='components/directives/directive.lost-focus.js')
    script(src='components/directives/ng-autocomplite-city.directive.js')



    script(src='scripts/service.anchorSmoothScroll.js')

    script(src='scripts/directive.datePicker.js')
    script(src='scripts/directive.editNote.js')



