div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        if(dj[key].i && dj[key].i==1)
            - var id='arrowDownDiv'
            arrow-down
        div(class="banner-content")
            if(dj[key].name)
                h1(class="banner-header",set-animate=dj[key].nameAnimate,data-animation=dj[key].nameAnimate)
                    | !{dj[key].name}
            div(schedule-place-from-server data-stuff=dj[key].scheduleStuff,data-templ=dj[key].templ,services=dj[key].servicesStringify)
                div(uib-carousel,active="$ctrl.week",interval="$ctrl.myInterval",ng-cloak)
                    each i in [0,1,2,3,4,5,6]
                        div(uib-slide,index=i,style="min-height: 75px",ng-swipe-left="$ctrl.chancheActiveSlide('left')",ng-swipe-right="$ctrl.chancheActiveSlide('right')")
                            h3(class="weeks")
                                a(ng-click="$ctrl.changeWeek("+i+")")
                                    span=dj[key].weeksRange[i].startDateString
                                    span=' - '
                                    span=dj[key].weeksRange[i].endDateString

                div(class="schedule",id="innerDivInschedule")
                    div(class="container")
                        div(class="online-box")
                            div(class="center-div")
                                div(class="online-table")
                                    each d,index in dj[key].datesOfWeeks
                                        if(dj[key].weekData[d.date] && dj[key].weekData[d.date].entryTimeTable)
                                            h3(class="days")=d.dateField
                                            each entry in dj[key].weekData[d.date].entryTimeTable
                                                p(class="entry-box")
                                                    span(class="time")=entry.usedTime
                                                    | &nbsp;&nbsp;
                                                    a(class="service",href=entry.serviceLink)
                                                        span=entry.service
                                                    | &nbsp;&nbsp;
                                                    span=entry.comment
                                                    | &nbsp;&nbsp;
                                                    a(class="master",href=entry.masterLink)
                                                        span=entry.masterName
                                                    | &nbsp;&nbsp;
                                                    if !entry.closed
                                                        a(class="enroll",ng-click="$ctrl.global.get('functions').val.bookingFromSchedule(" + entry.stringify + ")")
                                                            span=lang['enroll']
                                                    else
                                                        span(class="recruited")=lang['recruited']
                                                if(entry.entries)
                                                    each entry2 in entry.entries
                                                        p(class="entry-box")
                                                            span(class="time")=entry2.usedTime
                                                            | &nbsp;&nbsp;
                                                            a(class="service",href=entry2.serviceLink)
                                                                span=entry2.service
                                                            | &nbsp;&nbsp;
                                                            span=entry2.comment
                                                            | &nbsp;&nbsp;
                                                            a(class="master",href=entry2.masterLink)
                                                                span=entry2.masterName
                                                            | &nbsp;&nbsp;
                                                        if !entry2.closed
                                                            a(class="enroll",ng-click="$ctrl.global.get('functions').val.bookingFromSchedule(" + entry2.stringify + ")")
                                                                span=lang['enroll']
                                                        else
                                                            span(class="recruited")=lang['recruited']
                                    if(dj[key].noSchedule)
                                        div(class="text-center")
                                            p=lang['noentries']