div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="stuff-list-wrapper",id="items-list-wrapper")

            div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
                div(class="container")
                    h1=dj[key].listName
                    table(class="table table-striped table-bordered")
                        thead
                            tr
                                th()
                                    span=lang.nomination

                                th()
                                    span=lang.cost
                        tbody
                            each item,$index in dj[key].items
                                tr
                                    td(scope="row")
                                        p
                                            //a(href=item.link)
                                            span=item.name
                                        p
                                            | !{item.desc}

                                    td()
                                        span(class="from")=lang.from
                                        span &nbsp;
                                        span=item.price
                                        span &nbsp;
                                        span(ng-bind="order.currencyStore[order.currency][2]")
                if(titles.desc)
        div(class="seo-desc col-lg-12 col-md-12 col-sm-12 col-xs-12 ")
            |!{titles.desc}
div(class="clearfix")