extends layout

block content
  div(class="spinner-box",id='dimScreenFull',ng-hide="global.get('user').val")
    img(class="spinner",src='views/clinic/img/spinner.gif')
  div(id="o-wrapper",class="o-wrapper",ng-cloak)
    toaster-container
    div(class="navbar navbar-default navbar-fixed-top" id='topMenu')
      ul(class="left-menu")
        li(class="home")
          a(ui-sref="frame",title="главная")
            i(class="material-icons") home
        li( class="seller", ng-if="!global.get.mobile")
          a(ng-click="logout()")
            span(ng-if="global.get('seller').val")
              span(ng-bind="global.get('user').val.name" )
          span(class="location") промо-блок
      ul(class="right-menu")
        li(class="dropdown")
          a(class='dropdown-toggle',data-target="#",data-toggle="dropdown")
            i(class="material-icons menu-icon") apps
          ul(class="dropdown-menu")
            li
              a(ng-click="changeLocation('/setting')")
                i(class="material-icons link-success") settings
                | настройки магазина
            li
              a(ng-click="changeLocation('/manage')")
                i(class="material-icons link-success") shopping_basket
                | заказы
            li
              a(ng-click="changeLocation('/content')")
                i(class="material-icons link-success") description
                | контент
            li
              a(ng-click="changeLocation('/seo')")
                i(class="material-icons link-success") trending_up
                | продвижение и SEO
            li
              a(ng-click="changeLocation('/masteronline')",ng-hide="global.get('store').val.onlineis")
                i(class="material-icons link-success") query_builder
                | он-лайн запись
            li
              a(href='/home',target="blank")
                i(class="material-icons link-success") home
                | перейти на сайт
        div(class="pull-right")
          a(class="btn btn-fab btn-fab-mini btn-lang",ng-repeat="lang in global.get('store').val.langArr",ng-click="changeLang(lang)")
            span(ng-class="{'active':lang==global.get('store').val.lang}",ng-bind="lang")
        div()
          a
            span(class="for-saving save",ng-class="{'saving':global.get('saving').val}")
              | сохранено
        //a(class='pull-right navbar-brand' ng-click="getHelp()")
          i(class="material-icons") info_outline
        //a(class='pull-right navbar-brand' ng-if="helper.intro" ng-click="getIntro()")
          i(class="material-icons") info_outline


    div
      div(ui-view )
  script(type='text/javascript').
    var socketHost = !{JSON.stringify( socketHost )};
    var notificationHost = !{JSON.stringify( notificationHost )};
    var userHost = !{JSON.stringify( userHost )};
    var stuffHost = !{JSON.stringify( stuffHost )};
    var storeHost = !{JSON.stringify( storeHost )};
    var photoHost = !{JSON.stringify( photoHost )};
    var photoUpload= !{JSON.stringify( photoUpload )};
    var globalStoreId = !{JSON.stringify( store._id )};
    var storeTemp = !{JSON.stringify(store)};
    var mobileFromServer = !{JSON.stringify(mobile)};
  - var favicon = photoHost+"/"+store.favicon
  script(src=socketHost+'/socket.io/socket.io.js')


  script.
    (function () {
      var link = document.createElement( 'link' );
      link.type = 'image/x-icon';
      link.rel = 'shortcut icon';
      link.href = "#{favicon}";
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    }());

  if(store.glMap)
    script(type="text/javascript",src="http://maps.googleapis.com/maps/api/js?key=" + store.glMap + "&libraries=places")
  else
    script(type="text/javascript",src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzzOEL5DctMotIDgUTCGJsu7YM1rEY0gA&libraries=places")
  script(src='scripts/myPrototype.js')
  script(src='scripts/angular-node.js')

  script(src="bower_components/jquery/dist/jquery.js")

  // Twitter Bootstrap
  script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")

  //material Design for Bootstrap
  script(src="bower_components/arrive/src/arrive.js")
  script(src="bower_components/bootstrap-material-design/dist/js/material.js")
  script(src="bower_components/bootstrap-material-design/dist/js/ripples.js")

  // Dropdown.js
  script(src="assets/jquery.dropdown.js")
  script(src="assets/jquery.nicescroll/jquery.nicescroll.js")

  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js")

  //script(src='bower_components/a1.5/angular/angular.js')
  script(src='bower_components/118n/angular-locale_ru-ua.js')
  script(src='bower_components/a1.5/angular-hint/dist/hint.js')
  //script(src='bower_components/a1.5/angular-animate/angular-animate.js')

  script(src='bower_components/a1.5/angular-socket-io/socket.js')

  //script(src="bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js")
  script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js")
  script(src='assets/ui-select-master/dist/select.js')

  script(src='bower_components/a1.5/angular-route/angular-route.js')
  script(src='bower_components/a1.5/angular-ui-router/release/angular-ui-router.js')
  script(src='bower_components/a1.5/angular-resource/angular-resource.js')

  script(src='bower_components/a1.5/angular-cookies/angular-cookies.js')
  script(src='bower_components/a1.5/angular-touch/angular-touch.js')


  script(src="bower_components/AngularJS-Toaster/toaster.min.js")
  script(src="bower_components/intro.js/minified/intro.min.js")
  script(src="bower_components/angular-intro.js/src/angular-intro.js")

  //textAngular
  script(src='/bower_components/textAngular/dist/textAngular-rangy.min.js')
  script(src='/bower_components/textAngular/dist/textAngular-sanitize.min.js')
  script(src='/bower_components/textAngular/dist/textAngular.min.js')


  script(src='bower_components/angular-socket-io/socket.js')
  //script(src='bower_components/angular-loading-bar/build/loading-bar.min.js')


  // дата пикер
  script(src="bower_components/moment/min/moment-with-locales.min.js")
  script(src="bower_components/bootstrap-daterangepicker/daterangepicker.js")
  script(src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js")
  //script(src="bower_components/bootstrap-material-datepicker/js/bootstrap-material-datepicker.js")


  script(src='scripts/angular-drag-and-drop-lists.js')
  script(src='bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js')


  script(src="bower_components/tinymce/tinymce.js")
  script(src="bower_components/angular-ui-tinymce/src/tinymce.js")




  script(src='modules/promo/js/app.js')
  //script(src='modules/promo/js/app1.js')
  script(src='modules/promo/js/controllers.js')
  script(src='modules/promo/js/services.js')
  script(src='modules/promo/js/directives.js')
  script(src='modules/promo/js/filters.js')


  // auth
  script(src="bower_components/satellizer/satellizer.js")
  script(src='bower_components/angular-messages/angular-messages.js')
  script(src="components/sign-login/scripts/sign-login.component.js")
  script(src='components/directives/check-password-match.directive.js')



  script(src='scripts/service.global.js')
  script(src='scripts/service.helper.js')

  // sections
  script(src='components/sections/scripts/service.sections.js')
  script(src='components/sections/scripts/category.service.js')
  // filters
  script(src='components/filters/scripts/service.filters.js')
  script(src='components/filters/scripts/filterTags.service.js')
  //stuff
  script(src='components/stuff/scripts/stuff.service.js')
  //order
  script(src='components/order/scripts/service.order.js')
  script(src='components/order/scripts/order.service.js')
  script(src='components/order/scripts/cart-in-order.service.js')
  //brand
  script(src='components/brand/scripts/service.brands.js')
  //news
  script(src="components/news/scripts/component.newsList.js")
  script(src="components/news/scripts/component.newsItem.js")
  script(src="components/news/scripts/service.news.js")
  //services
  script(src='scripts/service.anchorSmoothScroll.js')
  script(src="components/services/factory.exeption.js")
  script(src="components/services/confirm.factory.js")
  //script(src="components/services/create-content.service.js")
  script(src="components/services/seo-content.service.js")
  script(src="scripts/service.email.js")
  script(src='components/services/service.print.js')
  script(src="components/staticPage/scripts/staticPage.service.js")
  script(src='components/user/scripts/service.user.js')
  script(src='components/notification/scripts/service.notification.js')
  script(src="components/services/interceptor.factory.js")

  // components
  script(src="components/paginator/scripts/component.paginator.js")
  script(src="components/createLink/scripts/create-link.component.js")
  script(src="components/user/scripts/users-list.component.js")
  script(src="components/user/scripts/subscribtion-list.component.js")
  // campaign
  script(src="components/PROMO/campaign/scripts/component.campaignList.js")
  script(src="components/PROMO/campaign/scripts/component.campaignItem.js")
  script(src="components/PROMO/campaign/scripts/campaign.service.js")
  // coupon
  script(src="components/PROMO/coupon/scripts/coupons-list.component.js")
  script(src="components/PROMO/coupon/scripts/coupon.service.js")
  // witget
  script(src="components/PROMO/witget/scripts/witget-list.component.js")
  script(src="components/PROMO/witget/scripts/witget.service.js")

  //growlNotificationh
  script(src='components/growlNotification/scripts/directive.growlNotification.js')
  // notification
  script(src='components/notification/scripts/service.notification.js')
  // backtotop
  script(src='components/backToTop/scripts/directive.back-to-top.js')
  // file upload
  script(src='components/loadImage/scripts/directive.loadImage.js')
  script(src='components/loadImage/scripts/service.fileUpload.js')

  // directives
  script(src='components/directives/directive.lost-focus.js')
  script(src='components/directives/directive.focus-element.js')
  script(src='components/checklistmodel/scripts/directive.checklist.js')
  script(src='components/directives/directive.select-drop-down.js')
  script(src='components/directives/ng-autocomplite-city.directive.js')


  script(src='components/call/scripts/directive.call.js')
  script(src='bower_components/angular-ui-mask/dist/mask.min.js')
  script(src='scripts/globalVariable.js')
  script(src='components/blocks/scripts/blocks.components.js')
  script(src='components/setStyles/scripts/setStyles.component.js')
  script(src='components/homePage/scripts/component.homePage.js')
  script(src='components/editModel/scripts/edit-model.component.js')
  script(src='components/info/scripts/info.service.js')
  script(src='components/CONTENT/master/scripts/master.service.js')
  script(src='components/CONTENT/additional/scripts/additional.service.js')


  script(src='components/CONTENT/label/scripts/label.component.js')
  script(src='components/CONTENT/label/scripts/label.service.js')
  script(src='components/CONTENT/workplace/scripts/workplace-list.component.js')
  script(src='components/CONTENT/groupStuffs/scripts/groupStuffs.service.js')








