div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="container")
            div(class="block-map",set-animate=dj[key].animate&&!mobile,data-animation=dj[key].animate)
                div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12 map-box")
                    p
                        | !{dj[key].map}

                div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12 desc-box")
                    div(class="desc")
                        if(dj[key].name)
                            h2=dj[key].name
                        if(dj[key].desc)
                            p
                                | !{dj[key].desc}
            div( class="clearfix")