extends layout

block content
  //div(id='dimScreenFull',ng-hide="global.get('user').val")
  div(id='dimScreen',content-loaded)
    img(src='views/clinic/img/spinner.gif')
  div(id="o-wrapper" class="o-wrapper",ng-cloak,ng-init="displaySlideMenu=true;setInitData(#{JSON.stringify(store)},#{JSON.stringify(mobile)})")
    toaster-container
    div(class="navbar navbar-fixed-top" id='topMenu')
        div(class="pull-left left-menu")
          ul
            li
              a(ui-sref="frame",title="весь контент")
                span
                  i(class="material-icons") homes
            li
              a(ng-click="slideMenu=true",title="открыть каталог")
                span
                  i(class="material-icons") menu
            li
              a(ui-sref="frame.help",title="помощь")
                span
                  i(class="material-icons") info_outline
              a( ng-if="helper.intro",ng-click="getIntro()",title="помощь")
                span
                  i(class="material-icons") info_outline
        div( class="seller pull-left", ng-if="!global.get.mobile")
          a(ng-click="logout()")
            span(ng-if="global.get('seller').val")
                span(ng-bind="global.get('user').val.name" )
          span(class="location") управление контентом
        div(class="dropdown pull-right right-menu navbar-menu")
          a(class='dropdown-toggle',data-target="#",data-toggle="dropdown")
            i(class="material-icons menu-icon") apps
          ul(class="dropdown-menu")
            li
              a(ng-click="changeLocation('/setting')")
                i(class="material-icons link-warning") settings_applications
                | настройки магазина
            li
              a(ng-click="changeLocation('/manage')")
                i(class="material-icons link-warning") shopping_basket
                | управление  заказами
            li
              a(ng-click="changeLocation('/promo')")
                i(class="material-icons link-warning") dashboard
                | управление промо
            li
              a(ng-click="changeLocation('/seo')")
                i(class="material-icons link-warning") trending_up
                | управление SEO
            li
              a(href='/home',target="blank")
                i(class="material-icons link-warning") airplay
                | перейти на сайт
        div(class="pull-right right-menu")
          a
            span(class="for-saving save",ng-class="{'saving':global.get('saving').val}")
              | сохранено
          a(class="btn btn-fab btn-fab-mini btn-lang",ng-repeat="lang in global.get('store').val.langArr",ng-click="changeLang(lang)")
            span(ng-class="{'active':lang==global.get('store').val.lang}",ng-bind="lang")



        //a(ui-sref="frame",class="navbar-brand")
          i(class="material-icons") homes
      //div(ng-if="$state.current.name=='frame.stuffs'",menu-sections)


    div(class="admin-menu",pageslide,ps-open="slideMenu",ps-side='left',ps-speed="0.3",ps-size='400px',click-outside="global.get('functions').val.closeMenu()",id='slideMenu')
      div(class="vertical-menu")
        a(ng-click="slideMenu=false",class="button cancel")
          //img(class="close",src="views/template/img/icon/clear.png")
        div(class="menu-section-vertical")
          slide-menu(display-slide-menu="slideMenu")
          //h1 sdfsdfs
          //h2 sdfsdfsdf
          //h3 sdfsdfsdf
    div()
      //div(style="position:absolute;top:0,left:0;width:300px;height:100%")
        h3 dd
      div(ui-view)
  //div(id="c-mask",class="c-mask")
  - var favicon = photoHost+"/"+store.favicon
  script.
    (function () {
      var link = document.createElement( 'link' );
      link.type = 'image/x-icon';
      link.rel = 'shortcut icon';
      link.href = "#{favicon}";
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    }());
  script(type='text/javascript').
    var storeHost = !{JSON.stringify(storeHost)};
    var socketHost = !{JSON.stringify( socketHost )};
    var notificationHost = !{JSON.stringify( notificationHost )};
    var userHost = !{JSON.stringify( userHost )};
    var stuffHost = !{JSON.stringify( stuffHost )};
    var photoHost = !{JSON.stringify( photoHost )};
    var photoUpload= !{JSON.stringify( photoUpload )};
    var globalStoreId = !{JSON.stringify( store._id )}
  //script(type="text/javascript",src="http://maps.googleapis.com/maps/api/js?libraries=places")
  script(src='crawler.scripts.min.js')
  script(src='contentdev_scripts.min.js')
  script(src='content.scripts.min.js')
  //script(src='allorder_scripts.min.js')
  script(type="text/javascript",src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDfZvDhAVRsFcRRofNR0onn3RvvZTqa2e8&libraries=places")









  if(true)
    // slidemenu
    script(src='components/slideMenu/scripts/directive.slideMenu.js')
    // modal select category
    script(src='components/selectCategoryModal/scripts/controller.selectCategoryModal.js')
    script(src='components/selectCategoryModal/scripts/service.selectCategoryModal.js')
    //growlNotificationh
    script(src='components/growlNotification/scripts/directive.growlNotification.js')
    // backtotop
    script(src='components/backToTop/scripts/directive.back-to-top.js')
    // file upload
    script(src='components/loadImage/scripts/directive.loadImage.js')
    script(src='components/loadImage/scripts/service.fileUpload.js')

    script(src='components/checklistmodel/scripts/directive.checklist.js')
    script(src='components/bindModelToCategory/scripts/directive.bindModelToCategory.js')
    script(src='components/directives/mongoose-error.component.js')




    //user
    script(src='components/choiceUser/directive.js')
    //paps
    script(src='components/paps/scripts/paps.service.js')
    script(src='components/paps/scripts/pap.component.js')
    script(src='components/paps/scripts/paps.component.js')
    //info
    script(src='components/info/scripts/info.service.js')
    script(src='components/info/scripts/info-list.component.js')
    script(src='components/info/scripts/info-item.component.js')
    // components
    script(src="components/createStuff/scripts/component.createStuff.js")
    script(src="components/sortsOfStuff/scripts/component.sortsOfStuff.js")
    script(src="components/categoriesForList/scripts/component.categoriesForList.js")
    script(src="components/filterStuffsList/scripts/component.filterStuffsList.js")
    script(src="components/editModel/scripts/edit-model.component.js")
    script(src="components/services/seo-content.service.js")






    script(src="components/additionalInfo/scripts/component.additionalInfo.js")
    script(src="components/staticPage/scripts/component.staticPage.js")
    script(src="components/staticPage/scripts/staticPages.component.js")
    script(src="components/staticPage/scripts/staticPage.service.js")
    script(src="components/CONTENT/additional/scripts/component.additional.js")
    script(src="components/CONTENT/additional/scripts/additionals.component.js")
    script(src="components/CONTENT/additional/scripts/additional.service.js")
    script(src="components/homePage/scripts/component.homePage.js")
    script(src="components/selectStuffModal/scripts/component.selectStuffModal.js")
    script(src="components/createLink/scripts/create-link.component.js")

    //news
    script(src="components/news/scripts/component.newsList.js")
    script(src="components/news/scripts/component.newsItem.js")
    script(src="components/news/scripts/service.news.js")
    //lookbook
    script(src="components/lookbook/scripts/component.lookbookList.js")
    script(src="components/lookbook/scripts/component.lookbookItem.js")
    script(src="components/lookbook/scripts/lookbook.service.js")
    //master
    script(src='components/CONTENT/master/scripts/master.service.js')
    script(src='components/CONTENT/master/scripts/master-list.component.js')
    script(src='components/CONTENT/master/scripts/master-item.component.js')
    script(src="components/PROMO/campaign/scripts/campaign.service.js")
    script(src="components/storeSetting/scripts/setStyles.component.js")
    script(src='components/blocks/scripts/blocks.components.js')
    script(src='components/help/scripts/help.component.js')








