doctype html
html(ng-app="gmall",prefix="og: http://ogp.me/ns#")
  head
    if(store.googleAnalytics && !crawler)
      //script(async src="https://www.googletagmanager.com/gtag/js?id="+store.googleAnalytics)
      script(type='text/javascript').
        var dataLayer = [];
      script(type='text/javascript').
        var googleAnalytics = !{JSON.stringify(store.googleAnalytics)};
        (function (w, d, s, l, i) {w[l] = w[l] || [];w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';j.async = true;j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;f.parentNode.insertBefore(j, f);})(window, document, 'script', 'dataLayer', !{JSON.stringify(store.googleAnalytics)});
    //link(rel="publisher",href="https://plus.google.com/u/0/106574592575126022578/posts")

    meta(charset='utf8')
    base(href='/')
    title(ng-bind="global.get('titles').val.title")=titles.title
    meta(name="keywords",content=titles.keywords)
    meta(name="description",content=titles.description)
    meta(property="og:type",content="website")
    meta(property="og:title",content=titles.title)
    meta(property="og:site_name",content=titles.domain)
    meta(property="og:url", content=titles.canonical)
    meta(property="og:description",content=titles.description)
    //meta(property="fb:app_id",content="[1511240965819743]")
    meta(property="og:image",content=titles.image)

    meta(name="author",content=titles.author)
    meta(name="fragment",content="!")
    meta(name="viewport",id="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    link(rel="canonical",href=titles.canonical)
    link(rel="author",   href=titles.author)
    link(type='image/x-icon',rel = 'shortcut icon',href=photoHost+"/"+store.favicon)
    //link(rel="stylesheet", href="devstyles.min.css")


    link(rel="stylesheet", href="allstyles.min.css")


    if(false)
      link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
      link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css" type="text/css" media="screen")
      link(rel='stylesheet', href="assets/angular-social/angular-social.css")
      link(rel="stylesheet",href="assets/owl/owl.carousel.css")
      link(rel="stylesheet",href="assets/owl/owl.theme.css")
      link(rel='stylesheet', href='styles/animate.css')
      link(rel='stylesheet', href='bower_components/intro.js/minified/introjs.min.css')
      link(rel="stylesheet", href="bower_components/AngularJS-Toaster/toaster.min.css" )
      link(rel='stylesheet', href='assets/ui-select-master/dist/select.css')

    //link(rel='stylesheet', href='assets/elastislide/css/elastislide.css')
    //link(rel="stylesheet", href="bower_components/angular-moment-picker/dist/angular-moment-picker.min.css")
    style(type="text/css")
      | !{CSS}
    

    //link(rel='stylesheet', href='components.min.css')
    if(false)
      link(rel='stylesheet', href='views/template/css/style.css')
      link(rel='stylesheet', href='views/template/partials/stuffDetail/modal/css/zoom.css')
      link(rel='stylesheet', href='views/template/css/chat-slide.css')
      link(rel='stylesheet', href='components/TEMPLATE/dateTimeEntry/dateTimeEntry.css')
      link(rel='stylesheet', href='views/template/partials/campaign/campaign.css')


    //script(src='https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit')



    if(store.yandex && !crawler)
      meta(name="yandex-verification",content=store.yandex)
    if(store.pinterest && !crawler)
      meta(name="p:domain_verify" content=store.pinterest)
    style.
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }

    -if(!local && !crawler)
      each counter in store.counters
        script.
          #{counter.code}
    if(store.googleSearchConsole)
      | !{store.googleSearchConsole}
  body(id="body",ng-class="{'body-background':global.get('store').val.backgroundImgUse&&(!global.get('store').val.backgroundImgUseHome || (global.get('store').val.backgroundImgUseHome && $state.current.name=='home') )}")
    if(store.googleAnalytics && !crawler)
      noscript
        iframe(src="https://www.googletagmanager.com/ns.html?id="+store.googleAnalytics,height="0",width="0",style="display:none;visibility:hidden")
    if(preloadPage)
      div(class="preloadPage",id='preloadPage',data-preload-animate-class=preloadPageAnimate)
        a(id="hidePreloadPage")
          span(class="icon-cancelmenu-img",style="z-index:100000")
        | !{preloadPage}
    div(id='dimScreen',content-loaded)
      span(class="icon-gif-img")
    if(store.template.addcomponents && store.template.addcomponents.addbutton && store.template.addcomponents.addbutton.is)
      - var clickLink=''
      - var link=null;
      if(store.template.addcomponents.addbutton.link == 'subscription' || store.template.addcomponents.addbutton.link == 'subscriptionAdd' || store.template.addcomponents.addbutton.link == 'feedback' || store.template.addcomponents.addbutton.link == 'dateTime' || store.template.addcomponents.addbutton.link == 'allBonus' || store.template.addcomponents.addbutton.link == 'call')
        - clickLink="global.get('functions').val.action('"+store.template.addcomponents.addbutton.link+"')"
      else
        - link = store.template.addcomponents.addbutton.link;
      div(id="addbutton")
        a(class="btn btn-cross",ng-click=clickLink,href=link)
          span=store.template.addcomponents.addbutton.nameL[store.lang]
    div(id="firstDiv")
      div(ng-controller="mainFrameCtrl",id="topPage")
        //div(ui-view)
        |!{htmlMenuHomeFooter}
        if(!crawler)
          div(id="slideChat",pageslide,ps-open="checkedMenu.chatMenu",ps-body-class="true",ps-side="right",ps-speed="0.3",ps-class="chat-box ng-pageslide",ps-size="{{mainFrameCtrl.sizeMenu}}")
            div(class="checkedMenu",id="demo-left",click-outside="global.get('functions').val.closeChatWitget('chatMenu')")
              a(ng-click="checkedMenuChange('chatMenu',false)",class="button",ng-show="checkedMenu.chatMenu",ng-cloak)
                span(class="cancel-slide  icon-cancelmenu-inverse")
              div(class="chat-content")
                guest-dialog
          div(id="slideEntry",pageslide,ps-open="checkedMenu.entryTime",ps-body-class="true",ps-side="right",ps-speed="0.3",ps-size="{{checkedMenu.sizeEntryTime}}")
            div(id="entryTimeElement",click-outside="global.get('functions').val.closeChatWitget('entryTime')")
              a(ng-click="checkedMenuChange('entryTime',false)",class="button",ng-show="checkedMenu.entryTime",ng-cloak)
                span(class="cancel-slide  icon-cancelmenu-inverse")
              div
                date-time-entry(stuff="globalProperty.entryStuff")
          if(store.cartSetting && store.cartSetting.slide)
            div(id="cartSlidePage",pageslide,ps-open="checkedMenu.cart",ps-body-class="true",ps-side="right",ps-speed="0.3",ps-size="{{checkedMenu.sizeCartSlide}}")
              div(id="cartSlide",click-outside="global.get('functions').val.closeChatWitget('cart')")
                a(ng-click="checkedMenuChange('cart',false)",class="button",ng-show="checkedMenu.cart",ng-cloak)
                  span(class="cancel-slide  icon-cancelmenu-inverse")
                div
                  cart-item
          div(ng-class="{'to-top-mobile':global.get('mobile').val}")
            .to-top
              a(ng-click="mainFrameCtrl.scrollTo('topPage')")
                span(class='icon-up-img')
          audio(id="soundChat")
            source(src='sounds/chat.mp3')

      toaster-container(toaster-options="{'close-button': true}")
    div(id="google_translate_element")
    - var socketHref=socketHost+'/socket.io/socket.io.js'
    script(type='text/javascript').
      var storeHost = !{JSON.stringify(storeHost)};
      var socketHost = !{JSON.stringify(socketHost)};
      var notificationHost = !{JSON.stringify(notificationHost)};
      var userHost = !{JSON.stringify(userHost)};
      var stuffHost = !{JSON.stringify(stuffHost)};
      var orderHost = !{JSON.stringify(orderHost)};
      var photoHost = !{JSON.stringify(photoHost)};
      var globalStoreId = !{JSON.stringify(store._id)};
      var globalCrawler = !{JSON.stringify(globalCrawler)};
      var facebookAppID = !{JSON.stringify((store.fb && store.fb.id) ? store.fb.id : null)};
      var googleAppID = !{JSON.stringify((store.gl && store.gl.id) ? store.gl.id : null)};
      var vkAppID = !{JSON.stringify((store.vk && store.vk.id) ? store.vk.id : null)};
      var ngInitData =!{ngInitData};
      var filtersFromServer = !{filters};
      var brandsFromServer = !{brands};
      var preloadDuration =!{JSON.stringify((store.preload && store.preload.use && store.preload.duration)?store.preload.duration:0)};



    if(!crawler)
      //script(src=socketHref)
      script(src='all_scripts.min.js')
      //script(src="/bower_components/angulartics/dist/angulartics.min.js")
      if(store.glMap)
        script(type="text/javascript",src="http://maps.googleapis.com/maps/api/js?key="+store.glMap+"&libraries=places",async)
      else
        script(type="text/javascript",src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzzOEL5DctMotIDgUTCGJsu7YM1rEY0gA&libraries=places",async)
      //script(type="text/javascript",src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
    if(!crawler && store.subDomain == 'gmall')
      script(src='components/cloneStore/scripts/cloneStore.component.js')
      script(src="components/storeSetting/scripts/store-seller.service.js")


