div(class="list-item",id='item-'+item._id,ng-hide="$ctrl.hideCart && $ctrl.$stateParams.id && $ctrl.$stateParams.id=='"+item.url+"'&&"+$index+">0")
    div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 news-stuff-img")
        a(href=item.link)
            if(item.imgs && item.imgs.length)
                .page-slides
                    div(gmall-slider-page=item.url)
                        div(class="substrate")
                            img(class="img-responsive",src=item.imgs[0].img)
                        - for (var i = 0; i < item.imgs.length; ++i)
                            div(class="mytoggle-page",id='mytoggle-page'+item._id+i)
                                img(class="img-responsive",src=item.imgs[i].img)
            if(item.img)
                img(style="width:100%", image-lazy-src=item.img,src=($index<2)?item.img:null)
            if(item.video)
                div
                    | !{item.video}
    div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 news-stuff-desk")
        a(href=item.link)
            div(class="form-group")
                if(item.name)
                    h2(class="name")
                        | !{item.name}
                if(item.position)
                    h4(class="position")
                        | !{item.position}
                if(item.desc)
                    div(class="desc")
                        | !{item.desc}
            if(item.date)
                h4(class="pull-right col-lg-4 news-stuff-date")=item.date
            div(class="clearfix")
        a(class="btn btn-project",ng-click="$ctrl.global.get('functions').val.witget('dateTime',{stuff:null,master:'"+item._id+"'})")
            span(ng-bind="$ctrl.global.get('lang').val.enroll")
    div(class="clearfix")


