div(class="news-box",id='item-'+item._id,ng-hide="$ctrl.hideCart && $ctrl.$stateParams.id && $ctrl.$stateParams.id=='"+item.url+"'")
    div(class="col-lg-5 col-md-12 col-sm-12 col-xs-12 left-inner "+item.pullRight)
        a(href=item.link)
            if(item.imgs && item.imgs.length)
                .page-slides
                    div(gmall-slider-page=(item.url) ? item.url : '/home')
                        div(class="substrate")
                            img(class="img-responsive",src=item.imgs[0].img)
                        - for (var i = 0; i < item.imgs.length; ++i)
                            div(class="mytoggle-page",id='mytoggle-page'+item._id+i)
                                img(class="img-responsive",src=item.imgs[i].img)

            if(item.img)
                img(style="width:100%", image-lazy-src=item.img,src=($index<2)?item.img:null)
            if(item.video)
                div
                    | !{item.video}
    div(class="right-inner col-lg-7 col-md-12 col-sm-12 col-xs-12 "+item.pullLeft)
        a(href=item.link)
            h2(class="name")
                | !{item.name}
        if(item.position)
           h3(class="position")
               | !{item.position}
        if(item.desc)
            div(class="desc")
                | !{item.desc}
        a(class="read-more-list",href=item.link)
            span(class="more")=lang.more
    div(class="clearfix")