div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="subscription-form",title=lang.subscription)
            a(class="input-group",ng-click="global.get('functions').val.action('subscription')")
                span(class="input-group-addon")
                    span.icon-envelopewhite-img
                input(type="text" class="form-control",placeholder=lang.subscription,disabled)


                //user-sign-short(button-name=lang.subscription,toaster='true')


