div(class=dj[key].wrapclass+pullClass,set-animate=dj[key].blockAnimate,data-animation=dj[key].blockAnimate,data-animation-delay=dj[key].animationDelay)
    div(class=mobileWrapper)
        div(class="enter-block")
            span(class="part",ng-hide="global.get('user').val && global.get('user').val._id")
                a(class="enter-login",ng-click="global.get('functions').val.enter()")
                    span(class="icon-user-img")
                    span(class="icon-user-inverse")
                div(class="clearfix")
            span(class="part",ng-show="global.get('user').val && global.get('user').val._id",ng-cloak)
                a(class="enter-first",ng-click="global.get('functions').val.changeLocation('/manage')")
                    span(class="icon-user-img")
                    span(class="icon-user-inverse")
