div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="container")
            div(class="text-two")
                div(class="text-box")
                    h3(ng-click="isCollapsed = !isCollapsed")
                        span(class="pull-left")=dj[key].name
                        span(slass="pull-right",ng-show="isCollapsed")
                            span(class="icon-delete-img")
                        div(class="clearfix")
                        span(slass="pull-right",ng-show="!isCollapsed")
                            span(class="icon-plus-img")
                        div(class="clearfix")
                div(uib-collapse="!isCollapsed")
                    div
                        | !{dj[key].desc}
                    //- var desc=dj[key].desc.clearTag().substring(0,250)

