div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="container")
            div(class="text-two")
                div(class="text-box")
                    h3=dj[key].name
                div(class="textInBlock",ng-class="{'collapsedText':!collapsedText}")
                    div(class="desc")
                        | !{dj[key].desc}

                p(class="read")
                    a(ng-class="{'hideLink':!collapsedText}",ng-click="collapsedText=false")
                        span(class="pull-right icon-delete-img")
                        span(class="pull-right")=lang['rollUp']
                        div(class="clearfix")
                    a(ng-class="{'hideLink':collapsedText}",ng-click="collapsedText=true")
                        span(class="pull-right icon-plus-img")
                        span(class="pull-right")=lang['readMore']
                        div(class="clearfix")

