div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div( class="clearfix")
        div(class="home-section background-logo",set-animate=dj[key].animate,data-animation=dj[key].animate)
            div(class="container")
                - var clickLink=''
                - var link=null;
                if(dj[key].button && dj[key].button.link)
                    if(dj[key].button.link == 'subscription' || dj[key].button.link == 'subscriptionAdd' || dj[key].button.link == 'feedback' || dj[key].button.link == 'dateTime' || dj[key].button.link == 'allBonus' || dj[key].button.link == 'call')
                        - clickLink="global.get('functions').val.action('"+dj[key].button.link+"')"
                    else
                        - link = dj[key].button.link;
                if(dj[key].name)
                    h3(set-animate=dj[key].nameAnimate,data-animation=dj[key].nameAnimate)=dj[key].name
                    hr(class="hr-top")
                if(dj[key].desc)
                    div
                        | !{dj[key].desc}
                if(dj[key].button && dj[key].button.is)
                    a(set-animate=dj[key].button.animate,data-animation=dj[key].button.animate,class="btn btn-project btn-banner",ng-click=clickLink,href=link)=dj[key].button.text
                hr(class="hr-bottom")

        div( class="clearfix")

    