div(class=dj[key].wrapclass,dontScrollBlock=dj[key].dontScrollBlock)
    div(class=mobileWrapper)
        - var style="background-image:url("+dj[key].img+");background-repeat:no-repeat;"
        div(class="home-section"+ dj[key].additionalClass,set-animate=dj[key].animate,data-animation=dj[key].animate,data-animation-delay=dj[key].animateDelay,style=style)
            div(class="container")
                - var clickLink=''
                - var link=null;
                if(dj[key].button && dj[key].button.link)
                    if(dj[key].button.link == 'subscription' || dj[key].button.link == 'subscriptionAdd' || dj[key].button.link == 'feedback' || dj[key].button.link == 'dateTime' || dj[key].button.link == 'allBonus' || dj[key].button.link == 'call')
                        - clickLink="global.get('functions').val.action('"+dj[key].button.link+"')"
                    else
                        - link = dj[key].button.link;
                div(class="text-box")
                    if(dj[key].name)
                        h2(set-animate=dj[key].nameAnimate,data-animation=dj[key].nameAnimate)=dj[key].name
                    if(dj[key].desc)
                        div(class="desc")
                            | !{dj[key].desc}
                    if(dj[key].button && dj[key].button.is)
                        a(set-animate=dj[key].button.animate,data-animation=dj[key].button.animate,class="btn btn-project btn-banner",ng-click=clickLink,href=link)=dj[key].button.text
        div( class="clearfix")

    