div(class=dj[key].wrapclass+pullClass)
    div(class=mobileWrapper)
        ul(class="social-links list-inline col-lg-12 col-md-12 col-sm-12 col-xs-12")
            if(sn.fb && sn.fb.is)
                li
                    a(href=sn.fb.link,target="_blank")
                        span.icon-fbwhite-img

            if(sn.gl && sn.gl.is)
                li
                    a(href=sn.gl.link,target="_blank")
                        span.icon-googlewhite-img

            if(sn.inst && sn.inst.is)
                li
                    a(href=sn.inst.link,target="_blank")
                        span.icon-instwhite-img

            if(sn.ok && sn.ok.is)
                li
                    a(href=sn.ok.link,target="_blank")
                        span.icon-okwhite-img

            if(sn.pin && sn.pin.is)
                li
                    a(href=sn.pin.link,target="_blank")
                        span.icon-pinwhite-img

            if(sn.tw && sn.tw.is)
                li
                    a(href=sn.tw.link,target="_blank")
                        span.icon-twwhite-img
            if(sn.vk && sn.vk.is)
                li
                    a(href=sn.vk.link,target="_blank")
                        span.icon-vkwhite-img
            div(class="clearfix")