div(class=dj[key].wrapclass)
        div(class=mobileWrapper)
            div(id=id,class="home-campaign")
                div(class="container")
                    if(dj[key].name)
                        h2(class="text-center")=dj[key].name
                    - var className  ="col-lg-6 col-md-6 col-sm-6 col-xs-12 home-section text-center"
                    if(dj[key].campaign.length == 1 || dj[key].campaign.length == 5)
                        - className="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-section text-center"
                    else if(dj[key].campaign.length == 3 || dj[key].campaign.length == 6)
                        - className='col-lg-4 col-md-4 col-sm-6 col-xs-12 home-section text-center'
                    each c in dj[key].campaign
                        - var link="/campaign/"+c.url
                        div(class=className)
                            div(class="row wrapForScale")
                                a(href=link)
                                    img(class="img-responsive img-scale",src=photoHost + '/' + c.img,scale-img,alt=c.alt)
                                    h3(class="campaign-name")=c.name
                    div(class="clearfix")
    

