div(class=dj[key].wrapclass+pullClass)
    div(class=mobileWrapper)
        - var c = 'nav-group info'
        if(dj[key].cache_key == 'menu2M')
            ul(class="info")
                - for (var i = 0; i < stats.length; i++)
                    li(set-animate=dj[key].blockAnimate,data-animation=dj[key].blockAnimate,data-animation-delay=dj[key].animationDelay+i)
                        - var hr = "/stat/"+stats[i].url
                        a(href=hr,ng-class="{'active':$state.current.name=='stat.item' && $stateParams.id=='"+page.url+"'}")
                            span(class="part",set-animate=dj[key].animate,data-animation=dj[key].animate)
                                =stats[i].name
        else
            div(class=c)
                a(href="",ng-click="goToInfo()",ng-class="{'active':$state.current.name=='stat.item'}")
                    span(class="part")
                        span=lang.info
                        span(class="caret")
                ul(class="menu-hover")
                    - for (var i = 0; i < stats.length; i++)
                        li
                            - var hr = "/stat/"+stats[i].url
                            a(href=hr)
                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                    =stats[i].name
