div(class=dj[key].wrapclass+pullClass,set-animate=dj[key].blockAnimate,data-animation=dj[key].blockAnimate,data-animation-delay=dj[key].animationDelay)
    div(class=mobileWrapper)
        - var c = 'nav-group info dropdown'
        if(dj[key].cache_key=='menu2M')
            ul(class="info")
                each page,index in stats
                    li(set-animate=dj[key].blockAnimate,data-animation=dj[key].blockAnimate,data-animation-delay=dj[key].animationDelay)
                        - var hr = "/stat/"+page.url
                        a(href=hr,class="part",set-animate=dj[key].animate,data-animation=dj[key].animate)
                            span()
                                =page.name
        else
            div(class=c)
                ul(class="info-page")
                    each page,index in stats
                        li(set-animate=dj[key].blockAnimate,data-animation=dj[key].blockAnimate,data-animation-delay=dj[key].animationDelay)
                            - var hr = "/stat/"+page.url
                            a(class="part",href=hr,set-animate=dj[key].animate,data-animation=dj[key].animate)
                                span()
                                    =page.name

