div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="container")
            if(item.videoLink)
                div()
                    video(id=item._id+'video',class="video-js mainVideo vjs-big-play-centered",controls preload='auto',poster=photoHost + ((photoHost) ? '/' : '') + item.img,)
            else if(item.img)
                div(class="background-box",style=style)
                    img(src=photoHost + ((photoHost)?'/':'') +item.img)
                div(class="locked")
                    a(class="payclass",href=item.hrefInsteadVideo)
                        span(class="icon-lockwhite-img")
                        span()
                            | Купить подписку на занятие
