div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="gallery",pug=1)
            if(item.gallery && item.gallery.length)
                div(id='stuffGallery'+item._id,home-page-stuff-owl="owlsliderstuffGallery" + item._id,zoom-img='true',data-items='2',data-gallery="$ctrl.gallery",data-qty=item.gallery.length)
                    div(class="nav-left")
                        i(class="icon-prev-img")
                    div(class="owl-carousel owl-theme",id="owlsliderstuffGallery" + item._id)
                        - for (var i = 0; i < item.gallery.length; i++)
                                div(class="owl-item")
                                    a()
                                        span(class="zoom-plus")
                                            span(class="icon-zoom-img")
                                            span(class="icon-zoom-inverse")
                                        img(class="img-responsive2",src=item.gallery[i].img,alt=item.name)
                        if(item.video && item.video.link)
                            div(class="owl-item")
                                a()
                                    video(preload="true",loop,autoplay,style="width: 100%",muted=!item.video.audio,controls=item.video.videoControl,webkit-playsinline)
                                        source(src=item.video.link,type="video/mp4")

                    div(class="clearfix")
                    div(class="nav-right")
                        i(class="icon-next-img")