extends layout

block content
  div(class="spinner-box",id='dimScreenFull',ng-hide="global.get('user').val")
    img(class="spinner",src='views/clinic/img/spinner.gif')
  div(id="o-wrapper" class="o-wrapper",ng-cloak,ng-init=ngInit)
    toaster-container
    div(class="navbar navbar-default navbar-fixed-top" id='topMenu')
      ul(class="left-menu")
        li(class="home")
          a(ui-sref="frame",title="весь контент")
            i(class="material-icons") home
        li
          a(ui-sref="frame.help",title="помощь")
            i(class="material-icons") info_outline
          a( ng-if="helper.intro",ng-click="getIntro()",title="помощь")
            i(class="material-icons") info_outline
        li( class="seller", ng-if="!global.get.mobile")
          a(ng-click="logout()")
            span(ng-if="global.get('seller').val")
              span продавец &nbsp;
              span(ng-bind="global.get('user').val.name")
              br
          span(class="location") админпанель платформы
      ul(class="right-menu")
        li(class="dropdown")
          a(class='dropdown-toggle',data-target="#",data-toggle="dropdown")
            i(class="material-icons menu-icon") apps
          ul(class="dropdown-menu")
            li
              a(ng-click="changeLocation('/setting')")
                i(class="material-icons link-success") settings
                | настройки магазина
            li
              a(ng-click="changeLocation('/manage')")
                i(class="material-icons link-success") shopping_basket
                | заказы
            li
              a(ng-click="changeLocation('/promo')")
                i(class="material-icons link-success") dashboard
                | промо-блок
            li
              a(ng-click="changeLocation('/seo')")
                i(class="material-icons link-success") trending_up
                | продвижение и SEO
            li
              a(ng-click="changeLocation('/masteronline')",ng-hide="global.get('store').val.onlineis")
                i(class="material-icons link-success") query_builder
                | он-лайн запись
            li
              a(href='/home',target="blank")
                i(class="material-icons link-success") home
                | перейти на сайт
        //div(class="pull-right")
          a(class='pull-right navbar-brand')
            i(class="material-icons") info_outline
        div()
          a
            span(class="for-saving save",ng-class="{'saving':global.get('saving').val}")
              | сохранено

    div()
      //div(style="position:absolute;top:0,left:0;width:300px;height:100%")
        h3 dd
      div(ui-view)
  //div(id="c-mask",class="c-mask")

  script(type='text/javascript').
    var storeHost = !{JSON.stringify(storeHost)};
    var socketHost = !{JSON.stringify( socketHost )};
    var notificationHost = !{JSON.stringify( notificationHost )};
    var userHost = !{JSON.stringify( userHost )};
    var orderHost = !{JSON.stringify( orderHost )};
    var stuffHost = !{JSON.stringify( stuffHost )};
    var photoHost = !{JSON.stringify( photoHost )};
    var photoUpload = !{JSON.stringify( photoUpload )};
    var globalStoreId = !{JSON.stringify( store._id )}
  - var favicon = photoHost+"/"+store.favicon
  script.
    (function () {
      var link = document.createElement('link');
      link.type = 'image/x-icon';
      link.rel = 'shortcut icon';
      link.href = "#{favicon}";
      document.getElementsByTagName('head')[0].appendChild(link);
    }());
  script(src='scripts/myPrototype.js')
  script(src='scripts/angular-node.js')

  script(src="bower_components/jquery/dist/jquery.js")

  // Twitter Bootstrap
  script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")

  //material Design for Bootstrap
  script(src="bower_components/arrive/src/arrive.js")
  script(src="bower_components/bootstrap-material-design/dist/js/material.js")
  script(src="bower_components/bootstrap-material-design/dist/js/ripples.js")

  // Dropdown.js
  script(src="assets/jquery.dropdown.js")
  script(src="assets/jquery.nicescroll/jquery.nicescroll.js")




  //script(src="bower_components/select2/select2.js")

  //script(src='bower_components/a1.5/angular/angular.js')
  //script(src='bower_components/a1.5/angular-animate/angular-animate.js')
  //script(src='bower_components/a1.5/angular-socket-io/socket.js')
  //script(src="bower_components/a1.5/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js")
  //script(src='bower_components/a1.5/angular-route/angular-route.js')
  //script(src='bower_components/a1.5/angular-ui-router/release/angular-ui-router.js')
  //script(src='bower_components/a1.5/angular-resource/angular-resource.js')
  //script(src='bower_components/a1.5/angular-cookies/angular-cookies.js')
  //script(src='bower_components/a1.5/angular-touch/angular-touch.js')
  //script(src="bower_components/a1.5/AngularJS-Toaster/toaster.min.js")

  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-animate/angular-animate.js')
  script(src="bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js")
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
  script(src='bower_components/angular-resource/angular-resource.js')
  script(src='bower_components/angular-cookies/angular-cookies.js')
  script(src='bower_components/angular-touch/angular-touch.js')
  script(src="bower_components/AngularJS-Toaster/toaster.min.js")


  script(src="bower_components/moment/min/moment-with-locales.min.js")
  script(src='assets/ui-select-master/dist/select.js')

  script(src='scripts/angular-drag-and-drop-lists.js')
  //textAngular
  script(src='/bower_components/textAngular/dist/textAngular-rangy.min.js')
  script(src='/bower_components/textAngular/dist/textAngular-sanitize.min.js')
  script(src='/bower_components/textAngular/dist/textAngular.min.js')

  script(src='modules/admin123/js/app.js')
  script(src='modules/admin123/js/controllers.js')
  script(src='modules/admin123/js/services.js')
  script(src='modules/admin123/js/directives.js')


  // auth
  script(src="bower_components/satellizer/satellizer.js")
  script(src='bower_components/angular-messages/angular-messages.js')
  script(src="components/sign-login/scripts/sign-login.component.js")
  script(src='components/directives/check-password-match.directive.js')



  script(src='scripts/service.global.js')
  script(src='scripts/service.helper.js')


  //services
  script(src="components/services/factory.exeption.js")
  script(src="components/services/confirm.factory.js")
  script(src="components/storeSetting/scripts/store-seller.service.js")
  script(src='components/filters/scripts/service.filters.js')
  script(src="components/filters/scripts/filterTags.service.js")
  script(src='components/user/scripts/service.user.js')
  script(src="components/services/interceptor.factory.js")
  script(src='scripts/service.anchorSmoothScroll.js')
  // components
  script(src="components/storeSetting/scripts/component.storeSetting.js")
  script(src="components/storeSetting/scripts/templates.component.js")
  script(src="components/storeSetting/scripts/check-subdomain.component.js")
  script(src="components/sellerSetting/scripts/component.sellerSetting.js")
  script(src="components/paginator/scripts/component.paginator.js")
  // directives
  script(src="components/directives/directive.checkUniqueFieldInBase.js")
  script(src="components/directives/directive.lost-focus.js")

  // file upload
  script(src='components/loadImage/scripts/directive.loadImage.js')
  script(src='components/loadImage/scripts/service.fileUpload.js')

  //lang
  script(src="components/lang/scripts/lang.component.js")
  script(src='scripts/globalVariable.js')
  script(src='components/stuff/scripts/stuff.service.js')
  script(src='components/sections/scripts/service.sections.js')
  script(src='components/brand/scripts/service.brands.js')
  script(src='components/order/scripts/order.service.js')
  script(src='components/order/scripts/service.order.js')
  script(src='components/order/scripts/cart-in-order.service.js')
  script(src="scripts/service.email.js")
  script(src='components/services/service.print.js')
  script(src="components/notification/scripts/service.notification.js")
  script(src="components/PROMO/coupon/scripts/coupon.service.js")
  script(src="components/storeSetting/scripts/blocksConfig.component.js")
  script(src="components/setStyles/scripts/setStyles.component.js")
  script(src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js")




