div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        if(dj[key].arrowDownDiv)
            arrow-down
        div(id=dj[key].id,class="home-slides",set-animate=dj[key].animate,data-animation=dj[key].animate,data-animation-repeat=dj[key].animateRepeat)
            div(class="container")
                div(class="slide-fade",gmall-slider-home,duration=dj[key].duration)
                    div(class="desc-wrap col-lg-7 col-md-7 col-sm-7 col-xs-7")
                        if(dj[key].name)
                            h3(set-animate=dj[key].nameAnimate,data-animation=dj[key].nameAnimate)=dj[key].name
                        if(dj[key].desc)
                            h3=dj[key].desc
                        //a(href=dj[key].imgs[0].link,class="btn btn-project btn-border btn-slider")
                            span=lang['learnMore']
                        //div(class="nav-box")
                            if(dj[key].imgs && dj[key].imgs.length)
                                a(class="prev navleft-carousel")
                                    span(class="icon-prev-img")
                                a(class="next navright-carousel")
                                    span(class="icon-next-img")
                    div(class="img-wrap col-lg-5 col-md-5 col-sm-5 col-xs-5")
                        if(dj[key].imgs && dj[key].imgs.length)
                            div(class="substrate")
                                img(class="img-responsive",src=photoHost + '/' + dj[key].imgs[0].img,alt=dj[key].imgs[0].name)
                            - for (var i = 0; i < dj[key].imgs.filter(function(i){return i.actived}).length; i++)
                                if(dj[key].imgs[i].actived)
                                    div(id=dj[key].wrapclass + i,class="mytoggle")
                                        a(href=dj[key].imgs[i].link)
                                            div(class="box-overlay",ng-swipe-left="slideswipeLeft()",ng-swipe-right="slideswipeRight()")
                                            img(class="img-responsive",src=photoHost + '/' + dj[key].imgs[i].img,alt=dj[key].imgs[i].name,ng-swipe-left="slideswipeLeft()",ng-swipe-right="slideswipeRight()")
                                            div(class="half-shadow")
                                                div(class="title-block")
                                                    h1=dj[key].imgs[i].name
                                                    p=dj[key].imgs[i].desc

                            ol(class="carousel-indicators")
                                - for (var i = 0; i < dj[key].imgs.filter(function(i){return i.actived}).length; i++)
                                    li(id="set-slide" + i + dj[key].wrapclass,class="set-slide",ng-click="setSlide(" + i + ")")
                    div(class="clearfix")
