div(class=dj[key].wrapclass+pullClass)
    div(class=mobileWrapper)
        menu-sections-pug
            div(class="hover-top-menu")
                div(class="text-center myMenu",id="wrapperForSections")
                    ul(class="nav-center catalogDropDownMenu")
                        - for (var i = 0; i < sectionsMenu.length; i++)
                            - var section=sectionsMenu[i]
                            li(id=section.id,class="mainli")
                                a(class="section-name",href=(section.innerData) ? null : section.allCategiriesHref)
                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                        !=section.name
                                if(section.innerData)
                                    div(class="innerDiv text-center", id=section.innerId)
                                        div(class="container-menu text-left", style="display:inline-block")
                                            ul(class="first-li")
                                                if(store.newTag && section.newLink)
                                                    li(class="category-in-section")
                                                        a(class="new",href=section.tagHref + store.newTag)
                                                            span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                !=lang.new
                                                if(store.saleTag && section.saleLink)
                                                    li(class="category-in-section")
                                                        a(class="sale",href=section.tagHref + store.saleTag)
                                                            span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                !=lang.sale
                                                if(section.categories1.length)
                                                    li(class="category-in-section")
                                                        a(class="all",href=section.allCategiriesHref)
                                                            span(set-animate=dj[key].animate,data-animation=dj[key].animate)=lang['allCategories']
                                                    each category in section.categories1
                                                        li(class="category-in-section")
                                                            a(href=category.href)
                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                    !=category.name
                                            if(section.categories2.length)
                                                ul
                                                    each category in section.categories2
                                                        li(class="category-in-section")
                                                            a(href=category.href)
                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                    !=category.name
                                            if(section.categories3.length)
                                                ul
                                                    each category in section.categories3
                                                        li(class="category-in-section")
                                                            a(href=category.href)
                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                    !=category.name
                                            if((section.saleLink || section.newLink)&&brandsMenu.length)
                                                ul
                                                    each brand in brandsMenu
                                                        - var hrefB='/'+section.url+'/category?brand='+brand.url
                                                        if(brand.display)
                                                            li(class="section-in-section first-li")
                                                                a(class="category-name", href=hrefB)
                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                        !=brand.name
                                                                ul
                                                                    if(store.newTag)
                                                                        li(class="category-in-section")
                                                                            a(class="new",href=hrefB + '&queryTag=' + store.newTag)
                                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                                    !=lang.new
                                                                    if(store.saleTag)
                                                                        li(class="category-in-section")
                                                                            a(class="sale",href=hrefB + '&queryTag=' + store.saleTag)
                                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                                    !=lang.sale
                                                                    li(class="category-in-section")
                                                                        a(class="all",href=hrefB)
                                                                            span(set-animate=dj[key].animate,data-animation=dj[key].animate)=lang['allCollection']
                                                                    - for(var j=0;(j<brand.tags.length)&&(j<7);j++)
                                                                        - var tag = brand.tags[j];
                                                                        if(tag.actived)
                                                                            li(class="category-in-section")
                                                                                a(href='/' + section.url + '/category?brandTag=' + tag.url)
                                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                                        !=tag.name

                                            if(section.child.length)
                                                ul
                                                    each child in section.child
                                                        li(class="section-in-section")
                                                            a(class="category-name", href=child.href)
                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                    !=child.name
                                                            ul
                                                                a(class="all",href=child.href)
                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)=lang['allCategories']
                                                                each category in child.categories
                                                                    li(class="category-in-section")
                                                                        a(href=category.href)
                                                                            span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                                !=category.name

