div(class=dj[key].wrapclass+pullClass)
    div(class=mobileWrapper)
        menu-sections-virtical-pug
                div(class="myMenuV", id="wrapperForSections")
                    ul(class="catalog-menu")
                        each section, index in sectionsMenu
                            li(id=section.id,class="mainli")
                                a(class="section-name",href=(section.innerData) ? null : section.allCategiriesHref)
                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                        !=section.name
                                    span(class="icon-caret-img")
                                div
                                    if(section.innerData)
                                        ul
                                            if((section.saleLink || section.newLink)&& brands.length)
                                                - for (var i = 0; i < brands.length; i++)
                                                    - var brand=brands[i]
                                                    - var hrefB='/'+section.url+'/category?brand='+brands[i].url
                                                    if(brand.display)
                                                        li(class="category-in-section brand-name")
                                                            a(class="category-name")
                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                    !=brand.name
                                                            ul
                                                                if(store.newTag)
                                                                    li()
                                                                        a(class="new",href=hrefB + '&queryTag=' + store.newTag)
                                                                            span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                                !=lang.new
                                                                if(store.saleTag)
                                                                    li()
                                                                        a(class="sale",href=hrefB + '&queryTag=' + store.saleTag)
                                                                            span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                                !=lang.sale
                                                                li()
                                                                    a(class="all",href=hrefB)
                                                                        span=lang['allCollection']
                                                                - for(var j=0;(j<brand.tags.length)&&(j<7);j++)
                                                                    - var tag = brand.tags[j];
                                                                    if(tag.actived)
                                                                        li
                                                                            a(href='/'+section.url+'/category?brandTag=' + tag.url)
                                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                                    !=tag.name
                                            if(store.newTag && section.newLink)
                                                li(class="category-in-section")
                                                    a(class="new",href='/' + section.url + '/category?queryTag=' + store.newTag)
                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                            !=lang.new
                                            if(store.saleTag && section.saleLink)
                                                li(class="category-in-section")
                                                    a(class="sale",href='/' + section.url + '/category?queryTag=' + store.saleTag)
                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                            !=lang.sale
                                            if(section.categories.length>1)
                                                li(class="category-in-section")
                                                    a(class="all",href=section.allCategiriesHref)
                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)=lang['allCategories']
                                            each category in section.categories1
                                                li(class="category-in-section")
                                                    a(href=category.href)
                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                            !=category.name
                                            each category in section.categories2
                                                li(class="category-in-section")
                                                    a(href=category.href)
                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                            !=category.name
                                            each category in section.categories3
                                                li(class="category-in-section")
                                                    a(href=category.href)
                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                            !=category.name
                                            each child in section.child
                                                li
                                                    a(class="category-name", href=child.href)
                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                            !=child.name
                                                    ul
                                                        each category in child.categories
                                                            li
                                                                a(href=category.href)
                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                        !=category.name



