div(class=dj[key].wrapclass+pullClass)
    div(class=mobileWrapper)
        menu-sections-pug
            div(class="hover-top-menu")
                div(class="text-center myMenu",id="wrapperForSections")
                    ul(class="nav-center catalogDropDownMenu")
                        - for (var i = 0; i < sectionsMenu.length; i++)
                            - var section=sectionsMenu[i]
                            li(id=section.id,class="mainli")
                                a(class="section-name",set-animate=dj[key].animate,data-animation=dj[key].animate,href=section.allCategiriesHref)
                                    span()
                                        !=section.name
                                    span(class="icon-caret-img")
                                if(section.innerData)
                                    div(class="innerDiv text-center", id=section.innerId)
                                        div(class="container-menu text-left", style="display:inline-block")
                                            ul
                                                if(store.newTag && section.newLink)
                                                    li(class="category-in-section")
                                                        a(class="category-link new",href=section.tagHref + store.newTag)
                                                            span()
                                                                !=lang.new
                                                if(store.saleTag && section.saleLink)
                                                    li(class="category-in-section")
                                                        a(class="category-link sale",href=section.tagHref + store.saleTag)
                                                            span()
                                                                !=lang.sale
                                                li(class="category-in-section")
                                                    a(class="all",href=section.allCategiriesHref)
                                                        span()=lang['allCategories']
                                                each category in section.categories
                                                    li(class="category-in-section")
                                                        a(class="category-link",href=category.href)
                                                            span()
                                                                !=category.name