div(class=dj[key].wrapclass+pullClass)
    div(class=mobileWrapper)
        menu-sections-pug
            div(class="hover-top-menu")
                div(class="text-center myMenu",id="wrapperForSections")
                    ul(class="nav-center catalogDropDownMenu")
                        - for (var i = 0; i < sectionsMenu.length; i++)
                            - var section=sectionsMenu[i]
                            li(id=section.id,class="mainli")
                                a(class="section-name")
                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                        !=section.name
                                if(section.innerData)
                                    div(class="innerDiv", id=section.innerId)
                                        div(class="container-menu", style="display:inline-block")
                                            if(section.child && section.child.length)
                                                ul(class="nested-menu")
                                                    each child in section.child
                                                        li(class="section-in-section sibsection")
                                                            a(class="category-name sibsection")
                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate,class="sibsection")
                                                                    !=child.name
                                                            ul(class="sub-menu")
                                                                each category in child.categories
                                                                        li(class="category-in-section")
                                                                            a(href=category.href,class="category-in-section-link")
                                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                                    !=category.name
                                            if(section.categories.length)
                                                ul
                                                    if(store.newTag && section.newLink)
                                                        li(class="category-in-section")
                                                            a(class="new",href=section.tagHref + store.newTag)
                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                    !=lang.new
                                                    if(store.saleTag && section.saleLink)
                                                        li(class="category-in-section")
                                                            a(class="sale",href=section.tagHref + store.saleTag)
                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                    !=lang.sale
                                                    if(section.categories1.length)
                                                        li(class="category-in-section")
                                                            a(class="all",href=section.allCategiriesHref)
                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)=lang['allCategories']
                                                        each category in section.categories1
                                                            li(class="category-in-section")
                                                                a(href=category.href)
                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                        !=category.name
                                                    if(section.categories2.length)
                                                            each category in section.categories2
                                                                li(class="category-in-section")
                                                                    a(href=category.href)
                                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                            !=category.name
                                                    if(section.categories3.length)
                                                            each category in section.categories3
                                                                li(class="category-in-section")
                                                                    a(href=category.href)
                                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                            !=category.name


