div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        ul(class="social-links list-inline")
            if(sn.fb && sn.fb.is)
                li
                    span=lang.onThePage
                    | &nbsp;
                    a(href=sn.fb.link,target="_blank")
                        span Facebook
                        | &nbsp;
                        span.icon-fbwhite-img

            if(sn.inst && sn.inst.is)
                li
                    a(href=sn.inst.link,target="_blank")
                        span Instagram
                        | &nbsp;
                        span.icon-instwhite-img

            if(sn.tw && sn.tw.is)
                li
                    a(href=sn.tw.link,target="_blank")
                        span Twitter
                        | &nbsp;
                        span.icon-twwhite-img

            if(sn.gl && sn.gl.is)
                li
                    a(href=sn.gl.link,target="_blank")
                        span Google
                        | &nbsp;
                        span.icon-googlewhite-img
            if(sn.yt && sn.yt.is)
                li
                    a(href=sn.yt.link,target="_blank")
                        span Youtube
                        | &nbsp;
                        span.icon-ytwhite-img
            if(sn.pin && sn.pin.is)
                li
                    a(href=sn.pin.link,target="_blank")
                        span Pinterest
                        | &nbsp;
                        span.icon-pinwhite-img

            if(sn.vk && sn.vk.is)
                li
                    a(href=sn.vk.link,target="_blank")
                        span Vkontakte
                        | &nbsp;
                        span.icon-vkwhite-img

            if(sn.ok && sn.ok.is)
                li
                    a(href=sn.ok.link,target="_blank")
                        span OK
                        | &nbsp;
                        span.icon-okwhite-img


            div(class="clearfix")


