div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        ul(class="social-links list-inline")
            if(sn.fb && sn.fb.is)
                li
                    a(href=sn.fb.link,target="_blank")
                        span(class="icon-fbwhite-img sn")
                        span(class="icon-fbwhite-inverse sn-inv")
            if(sn.inst && sn.inst.is)
                li
                    a(href=sn.inst.link,target="_blank")
                        span(class="icon-instwhite-img sn")
                        span(class="icon-instwhite-inverse sn-inv")
            if(sn.tw && sn.tw.is)
                li
                    a(href=sn.tw.link,target="_blank")
                        span(class="icon-twwhite-img sn")
                        span(class="icon-twwhite-inverse sn-inv")
            if(sn.yt && sn.yt.is)
                li
                    a(href=sn.yt.link,target="_blank")
                        span(class="icon-ytwhite-img sn")
                        span(class="icon-ytwhite-inverse sn-inv")
            if(sn.pin && sn.pin.is)
                li
                    a(href=sn.pin.link,target="_blank")
                        span(class="icon-pinwhite-img sn")
                        span(class="icon-pinwhite-inverse sn-inv")

            //if(sn.gl && sn.gl.is)
                li
                    a(href=sn.gl.link,target="_blank")
                        span.icon-googlewhite-img
                        span.icon-googlewhite-img

            //if(sn.vk && sn.vk.is)
                li
                    a(href=sn.vk.link,target="_blank")
                        span.icon-vkwhite-img
            //if(sn.ok && sn.ok.is)
                li
                    a(href=sn.ok.link,target="_blank")
                        span.icon-okwhite-img


            div(class="clearfix")


