div(class=dj[key].wrapclass)
  div(class=mobileWrapper)
    div(class="container inner-box",stuff-from-server=item.stuffInList)
      div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
        div
      div(class=leftClass,ng-class="$ctrl.item.leftClass",id="stuffDetailLeftClass")
        div
      div(class=rightClass,ng-class="$ctrl.item.rightClass",id="stuffDetailRightClass")
        div
      div(class="center-block col-lg-12 col-md-12 col-sm-12 col-xs-12")
        div
      div(class="clearfix")