div(class=dj[key].wrapclass)
  div(class=mobileWrapper)
    div(class="container inner-box",stuff-from-server=item.stuffInList)
      div(class="top-block")
        div
      div(class=leftClass,ng-class="$ctrl.item.leftClass",id="stuffDetailLeftClass")
        div
      div(class=rightClass,ng-class="$ctrl.item.rightClass",id="stuffDetailRightClass")
        div
      div(class="center-block")
        div
      div(class="clearfix")
