div(class=dj[key].wrapclass)
        div(class=mobileWrapper)
            div(class="home-subscription")
                if(dj[key].img)
                    div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-section subscription-img")
                        img(class='img-responsive',src=photoHost+'/'+dj[key].img,alt=dj[key].alt)
                div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-section subscription-box")
                    h3=dj[key].name
                    if(dj[key].desc)
                        div
                            | !{dj[key].desc}
                    user-sign
                div(class="clearfix")