div(class=dj[key].wrapclass+pullClass)
    div(class=mobileWrapper)
        menu-sections-pug
            div(class="hover-top-menu")
                div(class="text-center myMenu",id="wrapperForSections")
                    ul(class="nav-center catalogDropDownMenu")
                        - for (var i = 0; i < sections.length; i++)
                            - var section=sections[i]
                            if(section && (section.categories.length || section.child.length) && !section.hideSection)
                                - var id='s'+section._id
                                - var innerId="innerDiv"+section._id
                                - var innerData = !((!section.categories.length || section.categories.filter(function(c){return !c.notActive}).length < 2) && !section.child.length)
                                - var ui_sref ="stuffs({groupUrl:'"+section.url+"',categoryUrl:'"+((section.categories[0])?section.categories[0].url:'category')+"',brand:null,brandTag:null,queryTag:null,stringStr:null})"
                                - var href='/'+section.url+'/category'
                                li(id=id,class="mainli")
                                    a(class="section-name",href=(innerData) ? null : href,ui-sref=(innerData) ? null : ui_sref)
                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                            !=section.name
                                    if(innerData)
                                        div(class="innerDiv text-center", id=innerId)
                                            div(class="container-menu text-left", style="display:inline-block")
                                                if(section.categories.length)
                                                    ul
                                                        if(store.newTag && section.newLink)
                                                            li(class="category-in-section")
                                                                - var href='/' + section.url + '/category?queryTag=' + store.newTag
                                                                - var ui_sref ="stuffs({groupUrl:'"+section.url+"',categoryUrl:'category',brand:null,brandTag:null,queryTag:'"+ store.newTag+"',stringStr:null})"
                                                                a(href=href,ui-sref=ui_sref)
                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                        !=lang.new
                                                        if(store.saleTag && section.saleLink)
                                                            li(class="category-in-section")
                                                                - var href='/' + section.url + '/category?queryTag=' + store.saleTag
                                                                - var ui_sref ="stuffs({groupUrl:'"+section.url+"',categoryUrl:'category',brand:null,brandTag:null,queryTag:'"+ store.saleTag+"',stringStr:null})"
                                                                a(href=href,ui-sref=ui_sref)
                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                        !=lang.sale
                                                        li(class="category-in-section")
                                                            - var href = '/'+section.url+'/category'
                                                            - var ui_sref ="stuffs({groupUrl:'"+section.url+"',categoryUrl:'category',brand:null,brandTag:null,queryTag:null,stringStr:null})"
                                                            a(class="allcategories",href=href,ui-sref=ui_sref)
                                                                span(set-animate=dj[key].animate,data-animation=dj[key].animate)=lang['allCategories']
                                                        each category in section.categories
                                                            if(category && !category.notActive)
                                                                li(class="category-in-section")
                                                                    - var href =  '/'+section.url+'/'+category.url
                                                                    - var ui_sref ="stuffs({groupUrl:'"+section.url+"',categoryUrl:'"+category.url+"',brand:null,brandTag:null,queryTag:null,stringStr:null})"
                                                                    a(href=href,ui-sref=ui_sref)
                                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                            !=category.name
                                                //if(!section.categories.length)
                                                    ul
                                                        if(store.newTag && section.newLink)
                                                            li(class="category-in-section")
                                                                - var href = '/'+section.url+"/category?queryTag:'"+ store.newTag
                                                                - var ui_sref ="stuffs({groupUrl:'"+section.url+"',categoryUrl:'category',brand:null,brandTag:null,queryTag:'"+ store.newTag+"',stringStr:null})"
                                                                a(href=href,ui-sref=ui_sref)
                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                        !=lang.new
                                                        if(store.saleTag && section.saleLink)
                                                            li(class="category-in-section")
                                                                - var href = '/'+section.url+"/category?queryTag:'"+ store.saleTag
                                                                - var ui_sref ="stuffs({groupUrl:'"+section.url+"',categoryUrl:'category',brand:null,brandTag:null,queryTag:'"+ store.saleTag+"',stringStr:null})"
                                                                a(href=href,ui-sref=ui_sref)
                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                        !=lang.sale
                                                if(section.child && section.child.length)
                                                    ul(class="nested-menu")
                                                        each child in section.child
                                                            - var href = '/'+child.url+'/category'
                                                            - var ui_sref ="stuffs({groupUrl:'"+child.url+"',categoryUrl:'category',brand:null,brandTag:null,queryTag:null,stringStr:null})"
                                                            li(class="section-in-section")
                                                                a(class="category-name",href=href, ui-sref=ui_sref)
                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                        !=child.name
                                                                ul(class="sub-menu")
                                                                    - var href = '/'+child.url+'/category'
                                                                    - var ui_sref ="stuffs({groupUrl:'"+child.url+"',categoryUrl:'category',brand:null,brandTag:null,queryTag:null,stringStr:null})"
                                                                    //a(class="allcategories",href=href,ui-sref=ui_sref)
                                                                        span(set-animate=dj[key].animate,data-animation=dj[key].animate)=lang['allCategories']
                                                                    each category in child.categories
                                                                        if(category && !category.notActive)
                                                                            li(class="category-in-section")
                                                                                - var href = '/'+child.url+'/'+category.url
                                                                                - var ui_sref ="stuffs({groupUrl:'"+child.url+"',categoryUrl:'"+category.url+"',brand:null,brandTag:null,queryTag:null,stringStr:null})"
                                                                                a(href=href,ui-sref=ui_sref)
                                                                                    span(set-animate=dj[key].animate,data-animation=dj[key].animate)
                                                                                        !=category.name



