div(class="stuffs")
    div(id="list"+stuff._id,class="goods-container-img")
        div(class="stuff-box")
            a(href=stuff.link)
                img(class="sticker",ng-src="{{stuff.sticker}}")
                img(class="img-responsive img-goods",image-lazy-src=stuff.gallery[0].img,src=($index<2)?stuff.gallery[0].img:null,alt=stuff.name+' '+((stuff.artikul)?stuff.artikul:'')+' '+((stuff.brand && stuff.brand.name)?stuff.brand.name:''))
                div(class="box-overlay")
            a(href=stuff.link)
                div(class="half-shadow")
                    div(class="text-center action-box")
                        if(stuff.sortsOfStuff && stuff.sortsOfStuff.filter)
                            div(class="sort-box",ng-if="stuff.sort")
                                span(class="sort", ng-repeat="sort in stuff.stockKeysArray",ng-class="{'sort-active':sort.quantity}")
                                    span(ng-click="stuff.changeSortOfStuff(sort._id)",ng-bind="sort.name")
                        if(stuff.orderType == '1')
                            div
                                button(class="btn btn-project btn-border",ng-click="stuff.order()",ng-bind="$ctrl.global.get('lang').val.toOrder")
                        else if(stuff.orderType == '2')
                            div
                                button(class="btn  btn-project btn-border",ng-click="$ctrl.global.get('functions').val.witget('dateTime',{stuff:stuff})",ng-bind="$ctrl.global.get('lang').val.enroll")
                        else if(stuff.orderType == '3')
                            div
                                button(class="btn  btn-project btn-border",ui-sref="stuffs.stuff(stuff.linkData)",ng-bind="$ctrl.global.get('lang').val.more")
                        else if(stuff.orderType == '4')
                            div
                                button(class="btn  btn-project btn-border",ng-click="stuff.getBonus()",ng-bind="$ctrl.global.get('store').val.bonusButtonText")
                        else if(stuff.orderType == '6')
                            div
                                a(class="btn  btn-project btn-border", ng-click="$ctrl.global.get('functions').val.witget('call',{stuff:stuff})",ng-bind="$ctrl.global.get('lang').val.enroll")
                        else
                            span(ng-show="stuff.checkInCart()")
                                button(class="btn  btn-project btn-border",ng-bind="$ctrl.global.get('lang').val.inCart",disabled="disabled")
                            span(ng-hide="stuff.checkInCart()")
                                button( class="btn  btn-project btn-border",ng-click="stuff.addItemToOrder()",ng-bind="$ctrl.global.get('lang').val.addToCart")
        div(class="title-block text-center")
            h3(class="stuff-name")
                span(class="name")=stuff.name
                | &nbsp;
                span(class="artikul")=stuff.artikul
        div(class="price-block",ng-cloack)
            p
                span(ng-if="!stuff.sort",ng-bind="$ctrl.global.get('lang').val.expected")
                span(class="price" ng-class="{'line':stuff.priceSale||stuff.campaignUrl}", ng-if="stuff.sort")
                    span(class="",ng-bind="$ctrl.global.get('store').val.currency[$ctrl.global.get('currency').val][2]")
                    span &nbsp;
                    span(class="",ng-bind="$ctrl.getAveragePrice(stuff.stock[stuff.sort].price)| currency:'':$ctrl.formatPrice",ng-class="{'line':stuff.sale||stuff.campaignUrl}")

                span(class="sale", ng-if="(stuff.sort && stuff.priceSale && !stuff.campaignUrl)")
                    span(class="slash") /
                    span(class="",ng-bind="$ctrl.global.get('store').val.currency[$ctrl.global.get('currency').val][2]")
                    span &nbsp;
                    span(class="",ng-bind="$ctrl.getAveragePrice(stuff.stock[stuff.sort].priceSale)| currency:'':$ctrl.formatPrice")

                span(class="campaign", ng-if="(stuff.campaignUrl && stuff.sort)")
                    span(class="slash") /
                    span(class="",ng-bind="$ctrl.global.get('store').val.currency[$ctrl.global.get('currency').val][2]")
                    span &nbsp;
                    span(class="",ng-bind="$ctrl.getAveragePrice(stuff.stock[stuff.sort].priceCampaign)| currency:'':$ctrl.formatPrice")

                span(class="clearfix")
                span(class="retail",ng-if="(stuff.sort && $ctrl.global.get('store').val.seller.retail)")
                    span(ng-bind="$ctrl.global.get('lang').val.retail")
                    span &nbsp;
                    span(class="",ng-bind="$ctrl.global.get('store').val.currency[$ctrl.global.get('currency').val][2]")
                    span &nbsp;
                    span(class="",ng-bind="$ctrl.getAveragePrice(stuff.stock[stuff.sort].retail)| currency:'':$ctrl.formatPrice",ng-class="{'line':stuff.sale||stuff.campaignUrl}")

            p(ng-if="stuff.campaignUrl" class="campaign-label")
                a(ui-sref="campaign.detail({id:stuff.campaignUrl})", ng-bind="$ctrl.global.get('lang').val.actions")

            div(class="clearfix")

    div(class="clearfix")
