div(class="stuffs")
    div(id="list"+stuff._id,class="goods-container-img")
        div(class="half-shadow col-lg-5 col-md-5 col-sm-12 col-xs-12")
            a(href=stuff.link)
                h3(class="stuff-name")
                    span(class="name")=stuff.name
        div(class="title-block col-lg-7 col-md-7 col-sm-12 col-xs-12")
            if(stuff.desc)
                - var desc=stuff.desc.clearTag().substring(0,250);
                p=desc
            div(class="btn-box",ng-if="stuff.sort")
                if(stuff.orderType == '1')
                    div
                        a(class="btn  btn-project btn-border", ng-click="stuff.order()", ng-bind="$ctrl.global.get('lang').val.toOrder")
                else if(stuff.orderType == '2')
                    div
                        a(class="btn  btn-project btn-border", ng-click="$ctrl.global.get('functions').val.witget('dateTime',{stuff:stuff})",ng-bind="$ctrl.global.get('lang').val.enroll")
                else if(stuff.orderType == '3')
                    div
                        a(class="btn  btn-project btn-border",href=stuff.link,ng-bind="$ctrl.global.get('lang').val.more")
                else if(stuff.orderType == '4')
                    div
                        a(class="btn  btn-project btn-border",ng-click="stuff.getBonus()",ng-bind="$ctrl.global.get('store').val.bonusButtonText")
                else
                    span(ng-show="stuff.checkInCart()")
                        a(class="btn  btn-project btn-border",ng-bind="$ctrl.global.get('lang').val.inCart",disabled="disabled")
                    span(ng-hide="stuff.checkInCart()")
                        a( class="btn  btn-project btn-border",ng-click="stuff.addItemToOrder()",ng-bind="$ctrl.global.get('lang').val.addToCart")







