div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="col-lg-12 col-md-12 col-xs-12 home-section",set-animate=dj[key].animate,data-animation=dj[key].animate,data-animation-repeat=dj[key].animateRepeat)
            div(class="container")
                h3(set-animate=dj[key].nameAnimate,data-animation=dj[key].nameAnimate)=dj[key].name
                    | !{dj[key].desc}
                div(class="col-lg-6")
                    info-item-template(info=dj[key].info[0]._id,templ=dj[key].info[0].templ)
                div(class="col-lg-6")
                    p
                        | !{dj[key].videoLink}
        div(class="clearfix")