div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(ng-if1="$ctrl.item",class="text-center")
            div(last-viewed,templ=dj[key].templ,current="$ctrl.item",mobile=mobile,block-element=dj[key],header="{{$ctrl.global.get('lang').val.lastViewed}}")