div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-map",set-animate=dj[key].animate&&!mobile,data-animation=dj[key].animate)
            if(dj[key].name)
                h2=dj[key].name
            p
                | !{dj[key].videoLink}
        div( class="clearfix")



