div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(class="goods-record",style="position: relative")
            div(class="goods-record-desc text-center",set-animate=dj[key].animate,data-animation=dj[key].animate)
                a(class="btn btn-project", href=dj[key].link)
                    h3(class="goods-record-name")=dj[key].name