div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        div(id=id,class="home-categories")
            div(class="container")
                if(dj[key].name)
                    h2(class="text-center")=dj[key].name
                - var className  ="col-lg-6 col-md-6 col-sm-6 col-xs-12 home-section text-center"
                if(dj[key].categories.length == 1)
                    - className="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-section text-center"
                else if(dj[key].categories.length == 3 || dj[key].categories.length == 6)
                    - className='col-lg-4 col-md-4 col-sm-4 col-xs-12 home-section text-center'
                each c in dj[key].categories
                    div(class=className)
                            a(ui-sref=c.link)
                                img(class="img-responsive",src=photoHost+'/'+c.img,alt=c.alt)
                                div(class="categories-name")
                                    h3()=c.name

                div(class="clearfix")


