div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        if(dj[key].arrowDownDiv)
            arrow-down
        #{dj[key].element}(ng-click=dj[key].ngClick,href=dj[key].href)
            div(id=dj[key].id,class="half-section-video")
                div(class="container text-center",style="display: block!important")
                    div(class="video-box")
                        if(mobile)
                            video(preload="true",loop,autoplay,style="width: 100%",muted=!dj[key].audio,controls=dj[key].videoControl,webkit-playsinline)
                                if(dj[key].videoOgg)
                                    source(src=photoHost + '/' + dj[key].videoOgg,type="video/ogg")
                                if(dj[key].video)
                                    source(src=photoHost + '/' + dj[key].video,type="video/mp4")
                            if(dj[key].name)
                                h1(class="video-header",set-animate=dj[key].nameAnimate,data-animation=dj[key].nameAnimate,data-animation-delay=dj[key].nameAnimateDelay)
                                    span=dj[key].name
                        else
                            video(class="bv-video",preload="true",loop,autoplay,muted=!dj[key].audio,controls=dj[key].videoControl,webkit-playsinline,bg-video=photoHost + '/' + dj[key].video)
                            if(dj[key].name)
                                h1(class="video-header",set-animate=dj[key].nameAnimate,data-animation=dj[key].nameAnimate,data-animation-delay=dj[key].nameAnimateDelay)
                                    span=dj[key].name
