div(class=dj[key].wrapclass)
    div(class=mobileWrapper)
        - var style=(dj[key].img)?"background-image:url("+photoHost+'/'+dj[key].img+");background-repeat:no-repeat;":null;
        div(class="home-feedback",style=style)
            div(class="feedback col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0")
                div(class="container")
                    div(class="feedback-box")
                        if(dj[key].name)
                            h3=dj[key].name
                        if(dj[key].desc)
                            div
                                | !{dj[key].desc}
                        feedback-message
            div(class="clearfix")